span{
    color: white;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.board{
    aspect-ratio: 1/1;
    max-height: 40rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}

.box{
    background-color: rgb(34, 34, 34);
    min-height: calc(40/3 * 1rem);
    min-width: calc(40/3 * 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.box.empty:hover{
    cursor: pointer;
    background-color: rgba(126, 126, 126, 0.5);
}

.box img{
    max-width: 80%;
    max-height: 80%;
}